<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.serve.mapper.ServiceCommunityMapper" >
    <select id="getList" resultType="com.serve.pojo.resp.ServiceCommunityResp">
        select id ,
        (select t.name from service_type t where t.id = f.service_type) `type`,
        f.title ,
        f.context ,
        f.picture picture_url,
        (case f.status when 'APPLY' then '已申请' when 'REPLY' then '已回复' else '' end) status,
        (select u.name from `system_user` u where u.id = f.apply_man) apply_man,
        f.apply_time ,
        (select u.name from `system_user` u where u.id = f.reply_man) reply_man,
        f.reply_time,
        f.reply_context
        from service_community f
        <where>
            <if test="applyManId > 0">
                and f.apply_man = #{applyManId}
            </if>
            <if test="status != null and status != ''">
                and f.status = #{status}
            </if>
            <if test="keyword != null and keyword != ''">
                and (f.title like concat('%',#{keyword},'%') or f.context like concat('%',#{keyword},'%'))
            </if>
        </where>
        order by f.apply_time desc
    </select>
</mapper>